.chat {
  width: 50%;
  min-height: 50vh;
  max-height: 50vh;
  overflow: scroll;
  border: 2px solid black;
}

#mapa {
  height: 500px;
  border-radius: 10;
}

.wrapper {
  display: grid;
  grid-template-columns: 800px 500px;
}

.derecha {
  text-align: left;
  margin-left: 10%;
}

.modal{
  height: 100px;
  width: 100px;
}
.info {
  margin-left: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
  border: 1px solid black;
}

.boton {
  margin-left: 10%;
  border-radius: 10px;
}